version: "3.2"

services:
  n2n_ntop:
    build:
      context: n2n_ntop
      dockerfile: Dockerfile
    image: zctmdc/n2n_ntop:Alpha

  n2n_proxy:
    build:
      context: n2n_proxy
      dockerfile: Dockerfile
    image: zctmdc/n2n_proxy:Alpha

  file-server:
    build:
      context: nginx_file_server
      dockerfile: Dockerfile
    image: zctmdc/file-server:Alpha

  route_apps_server:
    build:
      context: route_apps_server
      dockerfile: Dockerfile
    image: zctmdc/route_apps_server:Alpha

  frp:
    build:
      context: frp
      dockerfile: Dockerfile
    image: zctmdc/frp:Alpha

  caddy-alidns:
    build:
      context: caddy-alidns
      dockerfile: Dockerfile
    image: zctmdc/caddy-alidns:Alpha
