version: "3"

volumes:
  route_apps-data:
services:
  route_apps_server:
    build:
      context: .
      dockerfile: Dockerfile
    image: zctmdc/route_apps_server:Beta
    restart: always
    environment:
      - WORK_PATH=/tmp
      - FORCE_UPDATE=FALSE
      - N2N_TMP_DIR=/tmp/n2n
      - N2N_OPT_DIR=/tmp/bin
      - FRP_TMP_DIR=/tmp/frp
      - FRP_OPT_DIR=/tmp/bin
    volumes:
      - route_apps-data:/tmp:rw
    ports:
      - 17880:80
